.game-header {
    padding: 5px;
    margin: 10px 0;
    color: white;

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.game-icon {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 25%;
    box-shadow: 1px 1px 4px -1px black
}

.game-title {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.average-rating {
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    color: lightgray;
    width: 50px;
    text-align: center;
    padding: 3px;
    margin: 0 5px;
    border: 3px solid lightgray;
    border-radius: 2px;
    vertical-align: middle;
}