<div class="game-container" *ngIf="loaded">
  <div class="game-header container">
    <div class="row">
      <div class="col-sm-4">
        <img class="game-icon" src={{iosGame.icon}} />
      </div>
      <div class="col-sm-8">
        <div class="game-title">
          {{iosGame.name}}
          <div class="average-rating">{{iosGame.getAverageRating()}} ★</div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="review-wrapper">
    <app-review-card *ngFor="let review of visibleReviews" [review]="review"></app-review-card>
  </div>
</div>
