<div class="review-container" (click)="changeState()" [@transition]=currentState>
    <div class="review-header">
      <div class="rating">
          <span *ngFor="let number of [1, 2, 3, 4, 5]" [ngClass]="{'filled': number <= review.rating}">★</span>
      </div>
      <div class="author">
        {{review.author}}, {{review.date.getMonth()+1}}/{{review.date.getDate()}}/{{review.date.getFullYear()}}
      </div>
    </div>
  <div class="review">
    <h3 *ngIf="review.title !== null" class="title">
      {{review.title}}
    </h3>
    <div class="content">
      {{review.text}}
    </div>
    <br />
  </div>
</div>
